In [10]:
import pandas as pd
import numpy as np 
import re

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
AL = pd.read_csv('A-L.csv')
MZ = pd.read_csv('M-Z.csv')

In [15]:
AL.head()

,PLACE NAME,URBAN,TOWNLAND,PARISH,COUNTY,DATE FROM,DATE TO,PRONI REFERENCE,IMG URLS,IMAGES COUNT
0,Ballintaggart,-,Ballintaggart,Aghaderg,Down,1864,1874,VAL/12/B/16/18A,['https://apps.proni.gov.uk/DCAL_PRONI_Val12b/...,3
1,Glenloughan,-,Glenloughan,Aghaderg,Down,1909,1929,VAL/12/B/16/22D,['https://apps.proni.gov.uk/DCAL_PRONI_Val12b/...,3
2,Greenan,-,Greenan,Aghaderg,Down,1864,1874,VAL/12/B/16/18A,['https://apps.proni.gov.uk/DCAL_PRONI_Val12b/...,3
3,Greenan,-,Greenan,Aghaderg,Down,1874,1890,VAL/12/B/16/18B,['https://apps.proni.gov.uk/DCAL_PRONI_Val12b/...,3
4,Greenan,-,Greenan,Aghaderg,Down,1891,1908,VAL/12/B/16/18C,['https://apps.proni.gov.uk/DCAL_PRONI_Val12b/...,3

In [13]:
def imgcount_column(dataframe):
    pattern = re.compile("http[s]*\S+\s\S+g")
    img_links = dataframe['IMG URLS']
    dataframe['IMAGES COUNT'] = [len(pattern.findall(link)) for link in img_links]
    return dataframe

In [34]:
count_AL = imgcount_column(AL)
count_MZ = imgcount_column(MZ)

count_AL = count_AL.drop(columns=['IMG URLS'])
count_MZ = count_MZ.drop(columns=['IMG URLS'])

count_AL.to_csv('count_A-L.csv', index=False)
count_MZ.to_csv('count_M-Z.csv', index=False)

In [42]:
merged_data = pd.concat([count_AL, count_MZ], ignore_index=True)

columns = merged_data.columns[merged_data.columns != 'IMAGES COUNT']


for column in columns: 
    data = pd.DataFrame(merged_data[column].value_counts())
    data.to_csv(f"breakdown/{column}_total.csv")